input {
  height: 25px;
  width: 25vw;
  border-radius: 21px;
  font-size: 16px;
  line-height: 19px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  padding: 8px 72px 8px 20px;
}

input:focus {
  outline: none;
}
